
header {
	padding-top: 59px;
	padding-bottom: 22px;
	background-color: #3a7dfd;
	color: #fff;
}
.header-pretitle {
	margin-top: 102px;
}

.header-title {
	font-size: 48px;
	font-weight: 700;
	line-height: 36.81px;
	margin-top: 21px;
}
.header-subtitle {
	margin-top: 20px;
}
.header-button {
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	background-color: #ffffff;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	padding-top: 17px;
	padding-left: 55px;
	padding-right: 55px;
	padding-bottom: 17px;
	margin-top: 33;

}
.header-button-block {
	max-width: 210px;
}
header small {
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 9px;
}
img {
	max-width: 100%;
}
body {
	margin: 0;
	font-size: 18px;
	font-family: 'Roboto';
}

/* Секция портфолио */
.portfolio {
	background-color: #dddddd;
	padding-top: 44px;
	padding-bottom: 71px;
}

.portfolio-block {
	background-color: #fff;
	padding-top: 29px;
	padding-bottom: 44px;
}
.portfolio-title {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #072b6f;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-bottom: 10px;
}

.portfolio-subtitle {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
	color: #7bb9ff;
	font-size: 14px;
	font-weight: 400;
}

.portfolio-col-1 {
	padding-left: 50px;
	
}

.portfolio-col-2 {
	padding-right: 50px;
}
.portfolio-block h3 {
	/* Style for "внутренний" */
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.portfolio-text {
	/* Style for "У «Газпром" */
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 400;
}

.portfolio-block a {
	/* Style for "Смотреть р" */
	color: #072b6f;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}

/* Оформление подвала */

footer {
	background-color: #3a7dfd;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 110px;

} 

.footer-author {
	color: #fefefe;
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 7px;
}
.footer-text {
	margin-top: 0;
	color: #deedfe;
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
}
.social-block {
	text-align: center;
}

.social-block a {
	display: inline-block;
	margin-left: 13px;
	margin-right: 13px;
}
.footer-button {
	width: 165px;
	height: 48px;
	display: inline-block;
	border-radius: 24px;
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	padding: 12px 40px;
}
.footer-cta {
	margin-bottom: 13px;
}
.footer-cta-block {
	text-align: center;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	.header-pretitle {
	margin-top: 60px;
}

/* Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */